<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cec2b045b4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='/img/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Red Store | Products</title>
</head>
<body>

    <!-------- Header -------->

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Red Store logo"></a>
                </div>
                <nav id="navMenu">
                    <ul id="menuItems">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./products.html">Products</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="./login.html">Login</a></li>
                    </ul>
                </nav>
                <div class="cartContainer">
                    <img src="{{ url_for('static', filename='img/cart.png') }}" alt="cart">
                    <div class="cartCounter">0</div>
                </div>
                <img class="menu-icon" id="menuIcon" src="{{ url_for('static', filename='img/menu.png') }}" alt="mobile menu">
            </div>
        </div>
    </div>

    <!-------- All products -------->

    <div class="small-container hProduct">
        <div class="row row-2">
            <h2>All Products</h2>
            <div class="filterOptions">
                <p>Filter:
                <select name="filterByType" id="filterByType">
                    <option value="all">All</option>
                    <!-- Options will be dynamically added using JavaScript -->
                </select></p>
                <p>Sort:
                <select name="sortBy" id="sortBy">
                    <option value="default">Default</option>
                    <option value="priceH">Price: High to Low</option>
                    <option value="priceL">Price: Low to High</option>
                    <option value="rating">Rating</option>
                </select></p>
            </div>
        </div>

        <div class="row" id="productRow"></div>

    </div>

    <!-------- Footer -------->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Android and iOS</p>
                    <div class="app-logo">
                        <a href=""><img src="{{ url_for('static', filename='img/play-store.png') }}" alt="Google Plat store"></a>
                        <a href=""><img src="{{ url_for('static', filename='img/app-store.png') }}" alt="iOS App store"></a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{{ url_for('static', filename='img/logo-white.png') }}" alt="">
                    <p>Our purpose is to sustainably make the please and benefits of sports accessible to everyone.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Sitemap</h3>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./products.html">Products</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./login.html">Login</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter/X</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">YouTube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2023 - Res Store</p>
        </div>
    </div>
    
</body>
</html> 